.filter {
  margin-top    : 20px;
  display       : flex;
  flex-direction: column;
  gap           : 10px;

  .title {
    margin     : auto;
    font-family: "Evolventa Bold";
    font-size  : 24px;
    color      : var(--kiwi-green);
  }

  .filters {
    margin         : auto;
    display        : flex;
    justify-content: center;
    gap            : 20px;
    flex-wrap      : wrap;

  }
}
